* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
   display: flex;
   flex-direction: column;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 20px;
   font-family: "jura", sans-serif;
   font-size: 28px;
}
.container {
    background: #9cc3fa;
    width: 100vw;
    /* height: 100vh; */
}
.mainTitle {
    font-family: "jura", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
    color:#C850C0;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list li {
    padding-top: 20px;
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box  {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 30%;

}
.box1:hover {
    transform: translate(20px, 20px);
}
.box2:hover {
    transform: rotate(45deg);
}
.box3:hover {
    transform:scale(1.2)
}
.box4:hover {
    transform:skew(20deg, 10deg)
}
.box5:hover {
    transform: matrix(1, 1.2, -1, 1, 10, 20)
}
.box6:hover {
    /*Necesitamos indicarle el tipo de transformación que queremos y el origen de moviemiento de esa transfotmación*/
    transform: rotate(20deg) ;
    transform-origin:left top ;
}
/*Para hacer  una Transformación 3D jugamos con el style pero debemos tener en cuenta que hayq ue crear otro contenedor para hacer todo el movimiento*/
.transform3d {
    background-color: gray;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    /* position: absolute; */
    perspective: 80px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}
.box7 {
    transform-style: preserve-3d;
    margin-top: 0;

}
.box7:hover {
    transform: rotateX(25deg);
}

/*Efecto de voltear la imagen y poder ver la cara de atrás*/
.box8 {
    position: relative;
    transform-style: preserve-3d;
}

.box8:hover {
    transform: rotateY(180deg);
    /* transition: all 2s;  Esto es para darle efecto de voltear la tarjeta*/
}
.face {
    width: 70px;
    height: 70px;
    border-radius: 30%;
    position: absolute;
    backface-visibility: hidden;
}
.face.back {
    background: gray;
    transform: rotateX(180deg)
}


.ball {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 50%;
}
.ball:hover {
    transform: translateX(90px);
}
.ball1 {
    transition: transform 1s linear;
    transition-delay: 0.5s;
}
.ball2 {
    transition: transform 1s ease;
    transition-delay: 0.5s;
}
.ball3 {
    transition: transform 1s ease-in;
    transition-delay: 0.5s;
}
.ball4 {
    transition: transform 1s ease-out;
    transition-delay: 0.5s;
}