* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
   display: flex;
   flex-direction: column;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 20px;
   font-family: "jura", sans-serif;
   font-size: 28px;
}
.container {
    background: #9cc3fa;
    width: 100vw;
}

/*Transformaciones*/
.mainTitle {
    font-family: "jura", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
    color:#C850C0;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list li {
    padding-top: 20px;
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box  {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 30%;

}

.box.box1{
    transform: translate(20px, 20px);
}
.btn {
    margin-top: 30px;
    color:#C71585 ;
    font-family: "jura", sans-serif;
    font-weight:bold;
    background-color: #f8bd7d;
    width: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.box.box2 {
    transform: rotate(45deg);

}

.box.box3{
    transform:scale(1.2);
}

.box.box4 {
    transform:skew(20deg, 10deg);
}

.box.box5 {
    transform: matrix(1, 1.2, -1, 1, 2, 3);
}
.box.box6 {
    /*Necesitamos indicarle el tipo de transformación que queremos y el origen de moviemiento de esa transfotmación*/
    transform: rotate(20deg) ;
    transform-origin:left top ;
}


/*Para hacer  una Transformación 3D jugamos con el style pero debemos tener en cuenta que hay que crear otro contenedor para hacer todo el movimiento*/
.transform3d {
    background-color: gray;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    /* position: absolute; */
    perspective: 80px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.boxTransf3d  {
    width: 70px;
    height: 70px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 30%;

}

.boxTransf3d.box7 {
    transform: rotateX(25deg);
    margin-top: 0;
    transform-style: preserve-3d;
}


/*Efecto de voltear la imagen y poder ver la cara de atrás*/
.backface {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    border-radius: 30%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease;

}
.front {
    width: 70px;
    height: 70px;
    /* margin-top: 10px; */
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 30%;
    position: absolute;
    backface-visibility: hidden;
}
.back {
    position: absolute;
    width: 70px;
    height: 70px;
    backface-visibility: hidden;
    border-radius: 30%;
    /* margin-top: 10px; */
    /* background-color: gray; */
    /* transform: rotateY(180deg); */
}
.flipBox {
    transform: rotateY(180deg);
    background-color: gray;
}

/*Efecto Parallax*/
.go {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    visibility: hidden;;
}
a {
    color:#C71585 ;
    text-decoration: none;
    font-family: "jura", sans-serif;
    font-weight:bold;
    background-color: #f8bd7d;
    width: 130px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    
  }
  a:hover {
    background-color:#e18c9f;
    transform: scale(1.2);
  }

/*Transiciones*/
.ball {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 50%;
    transition: transform 1s;
    /* transition-delay: 0.5s; */
}

.ball.ball1 {
    transition-timing-function: linear;
    transform: translateX(90px);
}


.ball.ball2 {
    transition-timing-function:  ease;
    transform: translateX(90px);

}

.ball.ball3{
    transform: translateX(90px);
    transition-timing-function:  ease-in;

}

.ball.ball4 {
    transform: translateX(90px);
    transition-timing-function:  ease-out;
}

.ball.ball5 {
    transform: translateX(90px);
    transition-timing-function:  ease-in-out;
}
.ball6 {
    transform: translateX(90px);
    transition-timing-function:  cubic-bezier(.17,.67,.93,.03);
}

/*Footer*/
footer {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
   justify-content: center;
}
.copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "jura", sans-serif;
    font-weight:bold;
    color:#C850C0;
    font-size: 16px;
}

/*Media Queries*/

@media screen and (min-width: 768px) {
    .title {
        font-size: 30px;
    }
    .mainTitle {
        font-size:22px ;
    }
    .list {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        column-gap: 5px;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
    }
    .list li {
        font-size: 18px;
    }
    .copy {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .title {
        font-size: 36px;
    }
    .mainTitle {
        font-size:28px ;
    }
    .list {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        column-gap: 15px;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .list li {
        font-size: 22px;
    }
    .box{
        width: 90px;
        height: 90px;
    }
    .btn {
        font-size: 16px;
    }
    .transform3d {
        width: 90px;
        height: 90px;
    }
    .boxTransf3d {
        width: 90px;
        height: 90px;
    }
    .backface {
        width: 90px;
        height: 90px;
    }
    .front {
        width: 90px;
        height: 90px;
    }
    .ball {
        width: 70px;
        height: 70px;
    }
    .go {
        visibility: visible;
    }
    a {
        width: 150px;
        font-size: 18px;
    }
    .copy {
        font-size: 20px;
    }
}